@model NavTileVM[]

<div class="row">
    @foreach (var tile in Model)
    {
        <div class="col-md-4">
            <h3>@tile.Display</h3>
            <br>
            <img src="@Url.Content("~/Content/navtiles/"+tile.Uid+".png")" />
            <br />
            <ul class="cursori"
            <a class="btn btn-default" href="@Url.Action("Article", "Articles", new { Id = tile.ArticleUid })">@tile.ArticleDisplay</a>
            <br />
            <a class="btn btn-default" href="@Url.Action("Certificate", "Certificates", new { Id = tile.CertUid})">@tile.CertName</a>
        </div>
    }
</div>