@model NavBarItemVM[]

@helper navBarItem(NavBarItemVM item)
{
    <li>
        @if (item.Items.Any())
        {
            <span>@item.Display</span>
            <ul>
                @foreach (var subItem in item.Items)
                {
                    @navBarItem(subItem)
                }
            </ul>
        }
        else
        {
            <a href="@Url.Action("Article", "Articles", new { Id = item.ArticleUid})">@item.Display</a>
        }
    </li>
}

<div class="row">
    <div class="col-md-6">
        <a href="@Url.Action("Index","Home")"><img class="logo"src="http://i.imgur.com/UbWX9nB.png" height="32px" /></a>
    </div>
    <div class="col-md-6">
        <p class="subtitle">La più grande piattaforma gratuita Italiana per Web Developers</b></p>
    </div>
</div>

<div class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle fa fa-list" data-toggle="collapse" data-target=".navbar-collapse">
                @foreach (var rootItem in Model)
                {
                    <span class="icon-bar"></span>
                }
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                @foreach (var rootItem in Model)
                {
                    @navBarItem(rootItem)
                }

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <!-- <li id="togglenavbaricon" ><a href=""><i class="fa fa-list"></i></a></li>-->
                <li id="magnifiericon"><a href=""><i class="fa fa-search"></i></a></li>
                <li id="globeicon"><a href=""><i class="fa fa-globe"></i></a></li>
                <li id="examples"><a href="">Forum</a></li>
                <li id="references"><a href="">Certificati</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tools <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
            
</div>
    </div>
</div>